<!-- This is ruleset styling and class! -->

body{
	background-color: yellow;
}

h1{
	font-size: 100px;
	color: seagreen;
}

h3{
	font-size: 50px;
	color: seagreen;
}

.big{
	font-size: 100px;
}

.uppercase{
	text-transform: uppercase;
}

span{
	color: blue;
	font-size: 40px;
}

h1 span{
	color: pink;
	font-size: 50px;
}

h1{
	color: red;
	font-size: 80px;
}